flow2_conversation_handler_V2 - Without Credentials.json
{
  "name": "LinkedIn Automation - Flow 2  ConversationHandler  Meeting Schedular_V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "79b93f70-f355-4367-8c29-d5cf1dc209f7",
      "name": "Every 30 Min Monitor",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2688,
        -736
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "options": {}
      },
      "id": "0fcfb9de-375e-4fb7-9a28-35263e213ba7",
      "name": "Get All Prospects from Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -2496,
        -736
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter rows that still need action - i.e. not already closed/booked\nconst rows = $input.all();\n\nconst DONE_STATUSES = ['Meeting Booked', 'Not Interested - Closed', 'Client Won'];\n\nconst activeRows = rows.filter(r => {\n  const connStatus = r.json['Connection Status'] || '';\n  const convStatus = r.json['Conversation Status'] || '';\n\n  // Must have actually had a connection request sent (or already connected)\n  const wasSent = connStatus === 'Connection Sent' || connStatus === 'Connected';\n\n  // Skip anything already finished\n  const isDone = DONE_STATUSES.includes(convStatus);\n\n  return wasSent && !isDone;\n});\n\nreturn activeRows.map(r => ({ json: r.json }));"
      },
      "id": "4757a518-c504-4187-949d-cb7db22e5e17",
      "name": "Filter Active Prospects",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        -736
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "190d58aa-e279-457e-bc08-b3be4adc428a",
      "name": "Process One By One",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2096,
        -736
      ]
    },
    {
      "parameters": {
        "url": "=https://api10.unipile.com:14041/api/v1/users/{{ $json['Provider ID'] }}?account_id=************************",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "bc3ce643-adcd-40d6-b126-9e108f5e8a4b",
      "name": "Check Connection Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2688,
        -400
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "is-connected-cond",
              "leftValue": "={{ $json.network_distance || $json.relation_type }}",
              "rightValue": "DISTANCE_1|FIRST_DEGREE",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "02820d02-4149-46d5-834e-22f87d5f5832",
      "name": "Is Connection Accepted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2496,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $('Process One By One').item.json['LinkedIn URL'] }}",
            "Last Updated": "={{ new Date().toISOString() }}",
            "row_number": 0,
            "Connection Status": "={{ $json.invitation.status }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "Cursor",
              "displayName": "Cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider ID",
              "displayName": "Provider ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Connection Status",
              "displayName": "Connection Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conversation Status",
              "displayName": "Conversation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ae8c145d-b2df-498c-b67b-3f8508641d61",
      "name": "Still Not Connected - Skip",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -2288,
        -224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api10.unipile.com:14041/api/v1/chats?account_id=************************&attendee_provider_id={{ $('Process One By One').item.json['Provider ID'] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "03580b14-f08c-4341-a514-a13111be584c",
      "name": "Get Chat For Prospect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1744,
        -560
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const chatData = $json;\nconst chatItems = chatData.items || [];\n\nconst providerId = $('Process One By One').item.json['Provider ID'];\n\nconst matchedChat = chatItems.find(\n  chat => chat.attendee_provider_id === providerId\n);\n\nreturn [{\n  json: {\n    ...$('Process One By One').item.json,\n    chat_id: matchedChat?.id || null,\n    chat_exists: !!matchedChat\n  }\n}];"
      },
      "id": "c26039ac-18a9-41da-bf77-37c488e043bd",
      "name": "Extract Chat ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        -560
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "chat-exists-cond",
              "leftValue": "={{ $json.chat_exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7494cc6e-d4fd-4788-8bfa-2457bd29e29d",
      "name": "Chat Already Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1344,
        -560
      ]
    },
    {
      "parameters": {
        "jsCode": "// No chat yet -> connected but no first message sent. Send first pitch.\nreturn [{ json: { ...$json, is_first_message: true } }];"
      },
      "id": "eecda653-847f-41b5-8c47-868329cb5361",
      "name": "Mark As First Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -464
      ]
    },
    {
      "parameters": {
        "url": "=https://api10.unipile.com:14041/api/v1/chats/{{ $json.chat_id }}/messages?account_id=************************",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "11c04c7a-da81-4940-bce7-d6f5ec5052c9",
      "name": "Get Messages In Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1136,
        -704
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const prospect = $('Extract Chat ID').item.json;\nconst messagesData = $json;\nconst messages = (messagesData.items || []).slice().reverse(); // oldest first\n\nconst myProviderId = '************************'; // YOUR LinkedIn provider id\n\nconst conversation = messages.map(m => ({\n  from: m.sender_id === myProviderId || m.is_sender ? 'me' : 'prospect',\n  text: m.text || m.body || '',\n  time: m.timestamp || m.created_at || ''\n}));\n\nconst lastMsg = conversation[conversation.length - 1] || {};\nconst hasReplied = lastMsg.from === 'prospect';\nconst noMessagesAtAll = conversation.length === 0;\n\nreturn [{\n  json: {\n    ...prospect,\n    full_conversation: conversation,\n    last_message_from: lastMsg.from || '',\n    last_message_text: lastMsg.text || '',\n    has_replied: hasReplied,\n    is_first_message: noMessagesAtAll,\n    message_count: conversation.length\n  }\n}];"
      },
      "id": "5e533a3d-f426-430d-aeb0-23924a228781",
      "name": "Analyze Conversation State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        -704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "first-msg-cond",
              "leftValue": "={{ $json.is_first_message }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d06f0e33-4d0a-431b-95ad-54f8b3419c54",
      "name": "Needs Initial Pitch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -640,
        -592
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api10.unipile.com:14041/api/v1/chats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "content-type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "************************"
            },
            {
              "name": "text",
              "value": "=Hey {{ $json.Name.split(' ')[0] }}! Thanks for connecting 🙌\\n\\nI help businesses like yours eliminate repetitive manual tasks through smart automation (n8n, AI agents, CRM workflows, lead gen, and custom integrations) — saving 10-20+ hours per week.\\n\\n👉 My Portfolio: https://github.com/shubeetheanalyst\\n\\nAre you currently handling any processes manually that you'd love to automate? Would love to hear about your workflow!"
            },
            {
              "name": "attendees_ids",
              "value": "={{ String($json[\"Provider ID\"]) }}"
            },
            {
              "name": "linkedin[api]",
              "value": "classic"
            },
            {
              "name": "inkedin[inmail]",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "47d29328-661c-445f-8a10-814498c72ea3",
      "name": "Send Initial Pitch Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -736
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $('Needs Initial Pitch?').item.json['LinkedIn URL'] }}",
            "Connection Status": "Connected",
            "Last Updated": "={{ new Date().toISOString() }}",
            "row_number": 0,
            "Conversation Status": "={{ $json.object }}",
            "Email": "={{ $('Check Connection Status').item.json.contact_info.emails[0] }}",
            "Phone": "={{ $('Check Connection Status').item.json.contact_info.phones[0] }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "Cursor",
              "displayName": "Cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider ID",
              "displayName": "Provider ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Connection Status",
              "displayName": "Connection Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conversation Status",
              "displayName": "Conversation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "7165f6d5-7f60-4385-a554-70cb5c2c2da6",
      "name": "Update Sheet - Pitch Sent",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -48,
        -736
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "has-replied-cond",
              "leftValue": "={{ $json.has_replied }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9447d738-5d28-42ef-af9e-c475d3260257",
      "name": "Has Prospect Replied?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -320,
        -480
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $('Has Prospect Replied?').item.json['LinkedIn URL'] }}",
            "Connection Status": "Connected",
            "Last Updated": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "378a2fc2-bdf9-4e68-a70d-c19f7e32f3cc",
      "name": "Still Waiting For Reply - Skip",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -48,
        -464
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "timeMin",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "timeMax",
              "value": "={{ new Date(Date.now() + 7*24*60*60*1000).toISOString() }}"
            },
            {
              "name": "singleEvents",
              "value": "true"
            },
            {
              "name": "orderBy",
              "value": "startTime"
            }
          ]
        },
        "options": {}
      },
      "id": "6569b937-c051-4925-babc-e3d1a4a8f2c4",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        -1120
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hxmgYMWIOjmGLdm3",
          "name": "Google Calendar OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const events = ($json.items || []);\nconst bookedSlots = events.map(e => ({\n  start: new Date(e.start?.dateTime || e.start?.date),\n  end: new Date(e.end?.dateTime || e.end?.date)\n}));\n\nconst availableSlots = [];\nconst now = new Date();\n\nfor (let day = 1; day <= 7 && availableSlots.length < 3; day++) {\n  const date = new Date(now);\n  date.setDate(date.getDate() + day);\n  if (date.getDay() === 0 || date.getDay() === 6) continue;\n\n  for (let hour = 9; hour <= 17 && availableSlots.length < 3; hour++) {\n    const slotStart = new Date(date);\n    slotStart.setHours(hour, 0, 0, 0);\n    const slotEnd = new Date(slotStart);\n    slotEnd.setMinutes(30);\n\n    const isBooked = bookedSlots.some(b => slotStart < b.end && slotEnd > b.start);\n\n    if (!isBooked) {\n      availableSlots.push({\n        display: slotStart.toLocaleDateString('en-US', { weekday: 'long', month: 'short', day: 'numeric' }) +\n                 ' at ' + slotStart.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit' }),\n        iso: slotStart.toISOString()\n      });\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...$('Has Prospect Replied?').item.json,\n    available_slots: availableSlots\n  }\n}];"
      },
      "id": "a6758854-3e2b-4736-adc4-4d5b5e4f5dd5",
      "name": "Find Free Slots",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -1120
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ************************"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"llama-3.3-70b-versatile\",\n  messages: [\n    {\n      role: \"system\",\n      content: \"You are a professional, warm B2B sales assistant for an automation specialist (n8n workflows, AI agents, CRM automation, lead generation bots, invoice automation, social media scheduling, custom API integrations). Portfolio: https://github.com/shubeetheanalyst\\n\\nRules:\\n1. Be professional, warm, conversational - never pushy or salesy/spammy\\n2. Ask discovery questions to understand their pain points before pitching\\n3. If they show genuine interest -> propose a meeting using one of the available slots\\n4. If they clearly decline (no thanks, not interested, too busy, not needed) -> gracefully close, thank them, set intent CLOSE\\n5. If they ask about price -> say it depends on scope, best discussed in a quick call\\n6. If they ask about timeline -> most automation projects take 1-2 weeks\\n7. Keep messages concise, max 120 words, natural human tone, no corporate jargon\\n8. If they mention a budget number, capture it exactly\\n9. Never repeat the same pitch twice - read the full conversation history before replying\\n10. If conversation has gone back and forth multiple times without a meeting, gently push toward booking a call\\n11. Do not be needy or repeat yourself; vary your phrasing each time\\n\\nReturn ONLY valid JSON, no markdown, no backticks: {\\\"message\\\": \\\"your reply text\\\", \\\"intent\\\": \\\"CONTINUE or BOOK_MEETING or CLOSE\\\", \\\"budget_mentioned\\\": \\\"amount or empty string\\\", \\\"meeting_agreed\\\": true or false}\"\n    },\n    {\n      role: \"user\",\n      content: \"Prospect: \" + $json.Name + \"\\nTitle: \" + $json.Title + \"\\n\\nConversation History (oldest to newest):\\n\" + $json.full_conversation.map(m => m.from.toUpperCase() + \": \" + m.text).join(\"\\n\") + \"\\n\\nAvailable meeting slots:\\n\" + $json.available_slots.map((s,i) => (i+1)+\". \"+s.display).join(\"\\n\") + \"\\n\\nGenerate the next reply message as this automation specialist.\"\n    }\n  ],\n  temperature: 0.4,\n  max_tokens: 300\n}) }}",
        "options": {}
      },
      "id": "3d57d7c6-88bd-4603-a39b-ff2f43f0e077",
      "name": "AI Conversation Handler",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -1120
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const aiRaw = $json.choices?.[0]?.message?.content || '{}';\nlet aiReply;\ntry {\n  const match = aiRaw.match(/\\{[\\s\\S]*\\}/);\n  aiReply = JSON.parse(match ? match[0] : '{}');\n} catch(e) {\n  aiReply = { message: \"Thanks for your message! Let me follow up shortly.\", intent: 'CONTINUE', budget_mentioned: '', meeting_agreed: false };\n}\n\nconst prospect = $('Find Free Slots').item.json;\n\nreturn [{\n  json: {\n    ...prospect,\n    ai_message: aiReply.message || '',\n    intent: (aiReply.intent || 'CONTINUE').toUpperCase(),\n    budget_mentioned: aiReply.budget_mentioned || '',\n    meeting_agreed: aiReply.meeting_agreed === true\n  }\n}];"
      },
      "id": "d7c32b5b-6d9f-428e-bef5-db669b9e2bd2",
      "name": "Parse AI Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -1120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "intent-close-cond",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "CLOSE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "41f48a10-90df-40d8-809f-cba65eb16240",
      "name": "Is Intent CLOSE?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        304,
        -928
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $json['LinkedIn URL'] }}",
            "Conversation Status": "Not Interested - Closed",
            "Notes": "={{ $json.last_message_text }}",
            "Last Updated": "={{ new Date().toISOString() }}",
            "row_number": 0
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "Cursor",
              "displayName": "Cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider ID",
              "displayName": "Provider ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Connection Status",
              "displayName": "Connection Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conversation Status",
              "displayName": "Conversation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "9ca31ae6-f267-4af4-b93c-5bc74545e34a",
      "name": "Update Sheet - Client Not Interested",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        496,
        -928
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api10.unipile.com:14041/api/v1/chats/{{ $json.chat_id }}/messages?account_id=************************",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": {{ JSON.stringify($json.ai_message) }}\n}",
        "options": {}
      },
      "id": "7e340e55-a4f8-4689-a2f2-a796bf3d0c2b",
      "name": "Send AI Message to Prospect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        -928
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "meeting-agreed-cond",
              "leftValue": "={{ $('Parse AI Reply').item.json.meeting_agreed }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "66c8699b-4069-4670-9865-dc0f95dec7a6",
      "name": "Meeting Agreed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        848,
        -928
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $('Parse AI Reply').item.json['LinkedIn URL'] }}",
            "Connection Status": "Connected",
            "Conversation Status": "Conversation Active",
            "Budget": "={{ $('Parse AI Reply').item.json.budget_mentioned }}",
            "Last Updated": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "16d8c529-4f2d-4ac1-8c46-67eedaa23103",
      "name": "Update Sheet - Conversation Active",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1296,
        -672
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/calendar/v3/calendars/primary/events",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleCalendarOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "conferenceDataVersion",
              "value": "1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  summary: \"Automation Consultation - \" + $('Parse AI Reply').item.json.Name,\n  description: \"Discovery call with \" + $('Parse AI Reply').item.json.Name + \" (\" + $('Parse AI Reply').item.json.Title + \")\\n\\nAgenda:\\n1. Understand current manual processes\\n2. Identify automation opportunities\\n3. Discuss scope, timeline and budget\\n\\nPortfolio: https://github.com/shubeetheanalyst\",\n  start: { dateTime: ($('Parse AI Reply').item.json.available_slots[0]?.iso || new Date(Date.now()+2*24*60*60*1000).toISOString()) },\n  end: { dateTime: (new Date(new Date($('Parse AI Reply').item.json.available_slots[0]?.iso || Date.now()+2*24*60*60*1000).getTime() + 30*60*1000).toISOString()) },\n  conferenceData: {\n    createRequest: {\n      requestId: (\"meet-\" + Date.now()),\n      conferenceSolutionKey: { type: \"hangoutsMeet\" }\n    }\n  }\n}) }}",
        "options": {}
      },
      "id": "d9028ca3-8fad-4740-ad5d-821d8ecad315",
      "name": "Create Google Meet Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        -1152
      ],
      "retryOnFail": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "hxmgYMWIOjmGLdm3",
          "name": "Google Calendar OAuth2 API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api10.unipile.com:14041/api/v1/chats/{{ $('Parse AI Reply').item.json.chat_id }}/messages?account_id=************************",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: \"Perfect! I've scheduled our meeting 🎉\\n\\n📅 \" + ($json.start?.dateTime || \"\") + \"\\n🔗 Join here: \" + ($json.hangoutLink || $json.conferenceData?.entryPoints?.[0]?.uri || \"link will be shared shortly\") + \"\\n\\nLooking forward to chatting! 🚀\"\n}) }}",
        "options": {}
      },
      "id": "8e15e9a6-9faf-4deb-a021-ae9abdf2b04b",
      "name": "Send Meeting Link to Prospect",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        -1152
      ],
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "LinkedIn URL": "={{ $('Parse AI Reply').item.json['LinkedIn URL'] }}",
            "Connection Status": "Connected",
            "Conversation Status": "Meeting Booked",
            "Meeting Link": "={{ $('Create Google Meet Event').item.json.hangoutLink || $('Create Google Meet Event').item.json.conferenceData?.entryPoints?.[0]?.uri || '' }}",
            "Budget": "={{ $('Parse AI Reply').item.json.budget_mentioned }}",
            "Last Updated": "={{ new Date().toISOString() }}",
            "row_number": 0
          },
          "matchingColumns": [
            "LinkedIn URL"
          ],
          "schema": [
            {
              "id": "Cursor",
              "displayName": "Cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider ID",
              "displayName": "Provider ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Connection Status",
              "displayName": "Connection Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Conversation Status",
              "displayName": "Conversation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ba869738-8414-4706-8f04-9da331ab7b2a",
      "name": "Update Sheet - Meeting Booked",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        1472,
        -1152
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 4,
        "unit": "seconds"
      },
      "id": "cf8a7d94-e4de-4907-9a16-2900ce2b766f",
      "name": "Wait Before Next Prospect",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1616,
        -368
      ],
      "webhookId": "6035cf80-a292-4c29-8693-54c6ac231d36"
    },
    {
      "parameters": {
        "content": "## ⚡ Trigger & Data Fetch\nThe automation runs every 30 minutes. It fetches all active prospects from Google Sheets and processes them one by one.",
        "height": 272,
        "width": 864,
        "color": "#56B143"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2736,
        -832
      ],
      "typeVersion": 1,
      "id": "debceaa5-2ccd-4cfd-be21-229d7cd7fe7f",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 🔗 LinkedIn Connection Check\nFor each prospect, check whether they have accepted your LinkedIn connection request. If the request is still pending, skip that prospect and move on to the next one.",
        "height": 448,
        "width": 576,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2736,
        -496
      ],
      "typeVersion": 1,
      "id": "a4a52507-90d5-4b53-a953-e269fe4c45ac",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 💬 Chat Discovery & Analysis\nFetch the prospect’s LinkedIn chat and extract the Chat ID. Check whether an existing conversation is already present. Analyze the message history to understand the current conversation state and determine the appropriate next action.",
        "height": 560,
        "width": 1344,
        "color": "#DB9F66"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1808,
        -832
      ],
      "typeVersion": 1,
      "id": "8e427692-6445-4491-a543-9530e5aebb19",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📤 Initial Pitch (First Message)\nIf no message has been sent to the prospect yet, use AI to generate a personalized outreach message and send it. Update the Google Sheet by marking the prospect as \"Pitch Sent\" and record the status of the initial message.",
        "height": 608,
        "width": 496,
        "color": "#DF9A9A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -880
      ],
      "typeVersion": 1,
      "id": "977622e7-a286-49f1-835b-7b65ea4d8177",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 🤖 AI Conversation Handler\nCheck whether the prospect has replied to the conversation. If no reply has been received, skip the prospect and move on to the next one.\n\nIf a reply exists, analyze the conversation, check the calendar for available meeting slots, and generate a context-aware AI response. The AI also evaluates the prospect’s intent and classifies the lead as either CLOSE (interested and moving toward a meeting) or NOT CLOSE (not interested or not ready to proceed).",
        "height": 528,
        "width": 800,
        "color": "#AFCAC1"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        208,
        -1280
      ],
      "typeVersion": 1,
      "id": "0326966b-c28a-4d7b-add2-1b5644e14bfe",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 📅 Meeting Booking\n\nIf the AI detects that the prospect is agreeing to a meeting, create a Google Meet event. Send the meeting link to the prospect and update the Google Sheet status as \"Meeting Booked.\"",
        "height": 320,
        "width": 576,
        "color": "#ECE874"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        -1280
      ],
      "typeVersion": 1,
      "id": "d5c8eac9-b2e3-4b69-969b-3454d49a79dc",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## 📋🔄 Google Sheet Updates & Loop End\nBased on the conversation outcome, the Google Sheet is updated with the relevant status such as Pitch Sent, Not Interested, Conversation Active, or Meeting Booked to ensure proper tracking and monitoring.\n\nAfter each prospect is processed, the workflow loops back and moves on to the next prospect. Once all prospects are completed, the automation ends and waits for the next 30-minute cycle to start.",
        "height": 720,
        "width": 608,
        "color": "#DBF9C3"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        -880
      ],
      "typeVersion": 1,
      "id": "29559b56-ccbb-48eb-8504-3cf565d3a2ae",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Every 30 Min Monitor": {
      "main": [
        [
          {
            "node": "Get All Prospects from Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Prospects from Sheet": {
      "main": [
        [
          {
            "node": "Filter Active Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Prospects": {
      "main": [
        [
          {
            "node": "Process One By One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One By One": {
      "main": [
        [],
        [
          {
            "node": "Check Connection Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Connection Status": {
      "main": [
        [
          {
            "node": "Is Connection Accepted?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Connection Accepted?": {
      "main": [
        [
          {
            "node": "Get Chat For Prospect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Still Not Connected - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Not Connected - Skip": {
      "main": [
        [
          {
            "node": "Wait Before Next Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Chat For Prospect": {
      "main": [
        [
          {
            "node": "Extract Chat ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Chat ID": {
      "main": [
        [
          {
            "node": "Chat Already Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Already Exists?": {
      "main": [
        [
          {
            "node": "Get Messages In Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark As First Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark As First Message": {
      "main": [
        [
          {
            "node": "Needs Initial Pitch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages In Chat": {
      "main": [
        [
          {
            "node": "Analyze Conversation State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Conversation State": {
      "main": [
        [
          {
            "node": "Needs Initial Pitch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Initial Pitch?": {
      "main": [
        [
          {
            "node": "Send Initial Pitch Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Prospect Replied?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Initial Pitch Message": {
      "main": [
        [
          {
            "node": "Update Sheet - Pitch Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Pitch Sent": {
      "main": [
        [
          {
            "node": "Wait Before Next Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Prospect Replied?": {
      "main": [
        [
          {
            "node": "Check Calendar Availability",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Still Waiting For Reply - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Still Waiting For Reply - Skip": {
      "main": [
        [
          {
            "node": "Wait Before Next Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Calendar Availability": {
      "main": [
        [
          {
            "node": "Find Free Slots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Free Slots": {
      "main": [
        [
          {
            "node": "AI Conversation Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Conversation Handler": {
      "main": [
        [
          {
            "node": "Parse AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Reply": {
      "main": [
        [
          {
            "node": "Is Intent CLOSE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Intent CLOSE?": {
      "main": [
        [
          {
            "node": "Update Sheet - Client Not Interested",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send AI Message to Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Client Not Interested": {
      "main": [
        [
          {
            "node": "Wait Before Next Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Message to Prospect": {
      "main": [
        [
          {
            "node": "Meeting Agreed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Agreed?": {
      "main": [
        [
          {
            "node": "Create Google Meet Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Sheet - Conversation Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Conversation Active": {
      "main": [
        [
          {
            "node": "Wait Before Next Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Google Meet Event": {
      "main": [
        [
          {
            "node": "Send Meeting Link to Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Meeting Link to Prospect": {
      "main": [
        [
          {
            "node": "Update Sheet - Meeting Booked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sheet - Meeting Booked": {
      "main": [
        [
          {
            "node": "Wait Before Next Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Next Prospect": {
      "main": [
        [
          {
            "node": "Process One By One",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ba10913c-1e6b-40ed-ab3e-6fbac587324d",
  "meta": {
    "instanceId": "e9710cffcf45d23a056e0c19d72a571c51ab41b1abfff85bb0a80211df0f8adc"
  },
  "nodeGroups": [],
  "id": "daUdJY7Jf3kYnNIO",
  "tags": []
}