flow1_prospect_finder_V2 - Without_Credentials.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5
            }
          ]
        }
      },
      "id": "9309fbfb-c996-4664-9b06-b5b3dd8ce44a",
      "name": "Every 5 Hours Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2640,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api10.unipile.com:14041/api/v1/linkedin/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "account_id",
              "value": "************************"
            },
            {
              "name": "cursor",
              "value": "={{ $json[\"Get Existing Sheet Data1\"] }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api\": \"classic\",\n  \"category\": \"people\",\n  \"keywords\": \"startup founder automation manager\",\n  \"location\": [\"103644278\", \"102095887\", \"105080838\",\n  \"101949407\", \"106981407\"],\n  \"limit\": 35\n} ",
        "options": {}
      },
      "id": "d4731fbb-5fa2-48f3-ac09-9636d6e89bca",
      "name": "Search LinkedIn Prospects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2624,
        352
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "options": {}
      },
      "id": "dbbc008b-d0b3-4ba5-bd58-9485200b678b",
      "name": "Get Existing Sheet Data",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -2240,
        352
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const searchResponse = $('Search LinkedIn Prospects').item.json;\nconst prospects = searchResponse[0]?.items || searchResponse.items || [];\n\n// Sheet se existing URLs\nconst existingRows = $('Get Existing Sheet Data').all();\nconst existingUrls = existingRows.map(r => r.json['LinkedIn URL']).filter(Boolean);\n\n// Unipile se already-sent invites (LinkedIn ki actual pending list)\nlet sentInvites = [];\ntry {\n  const sentResponse = $('Get Sent Invitations').item.json;\n  sentInvites = (sentResponse.items || []).map(i => i.provider_id || i.invited_user_id);\n} catch(e) {\n  sentInvites = [];\n}\n\nconst newProspects = prospects.filter(p => {\n  const profileUrl = p.public_profile_url || p.profile_url || '';\n  const alreadyInSheet = existingUrls.includes(profileUrl);\n  const alreadyInvitedOnLinkedIn = sentInvites.includes(p.id);\n  return profileUrl && !alreadyInSheet && !alreadyInvitedOnLinkedIn;\n});\n\nreturn newProspects.map(p => ({\n  json: {\n    name: p.name || '',\n    title: p.headline || '',\n    company: '',\n    linkedin_url: p.public_profile_url || p.profile_url || '',\n    provider_id: p.id || '',\n    location: p.location || '',\n    network_distance: p.network_distance || '',\n    member_urn: p.member_urn || ''\n  }\n}));"
      },
      "id": "17c0846d-ff4d-48ff-bc46-d63ac278ac6c",
      "name": "Filter New Prospects Only",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        352
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get ALL AI responses and ALL prospects\nconst aiResponses = $('AI Score Prospect').all();\nconst prospects = $('Filter New Prospects Only').all();\n\n// Pair each AI response with its matching prospect by index\nconst results = aiResponses.map((aiItem, index) => {\n  const content = aiItem.json.choices?.[0]?.message?.content || '{}';\n  \n  let parsed;\n  try {\n    const match = content.match(/\\{[\\s\\S]*\\}/);\n    parsed = JSON.parse(match ? match[0] : '{}');\n  } catch(e) {\n    parsed = { score: 5, reason: 'parse error', should_contact: true };\n  }\n\n  const prospect = prospects[index]?.json || {};\n\n  return {\n    json: {\n      ...prospect,\n      ai_score: parsed.score || 5,\n      ai_reason: parsed.reason || '',\n      should_contact: parsed.should_contact !== false\n    }\n  };\n});\n\nreturn results;"
      },
      "id": "e1234532-9a7f-4ff4-abba-90a4e9bd5a32",
      "name": "Parse AI Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "score-check",
              "leftValue": "={{ $json.ai_score }}",
              "rightValue": 6,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "contact-check",
              "leftValue": "={{ $json.should_contact }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "71d93c2e-c131-4b4f-976e-da89dbba9340",
      "name": "Quality Filter (Score >= 6)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1344,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api10.unipile.com:14041/api/v1/users/invite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "=************************"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"provider_id\": \"{{ $('Quality Filter (Score >= 6)').item.json.provider_id }}\",\n  \"account_id\": \"************************\"\n}",
        "options": {}
      },
      "id": "8fc11e20-952c-4d6a-83c6-1d0a60a086d3",
      "name": "Send LinkedIn Connection Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -960,
        64
      ],
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "YlWZPyhiKXil8nn7",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $('Quality Filter (Score >= 6)').all();\nconst errorItems = $('Send LinkedIn Connection Request').all();\n\nreturn inputItems.map((item, index) => {\n  const status = errorItems[index]?.json?.error\n    ? 'Failed'\n    : 'Connection Sent';\n\n  return {\n    json: {\n      ...item.json,\n      connection_status: status,\n      date_sent: new Date().toISOString().split('T')[0],\n      timestamp: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "3f35359b-303b-4243-8983-d560d2ee394a",
      "name": "Prepare Sheet Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        64
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.name }}",
            "Title": "={{ $json.title }}",
            "Company": "={{ $json.company }}",
            "LinkedIn URL": "={{ $json.linkedin_url }}",
            "Provider ID": "={{ $json.provider_id }}",
            "AI Score": "={{ $json.ai_score }}",
            "AI Reason": "={{ $json.ai_reason }}",
            "Connection Status": "={{ $json.connection_status }}",
            "Date Sent": "={{ $json.date_sent }}",
            "Location": "={{ $json.location }}",
            "Conversation Status": "={{ $json.connection_status }}",
            "Cursor": "={{ $('Updating Cursor').first().json.cursor }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Cursor",
              "displayName": "Cursor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn URL",
              "displayName": "LinkedIn URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Provider ID",
              "displayName": "Provider ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Score",
              "displayName": "AI Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "AI Reason",
              "displayName": "AI Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Connection Status",
              "displayName": "Connection Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Sent",
              "displayName": "Date Sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Conversation Status",
              "displayName": "Conversation Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Meeting Link",
              "displayName": "Meeting Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "cb96b52e-e711-4337-b94d-824374e58495",
      "name": "Log Prospect to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -576,
        64
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "amount": 3,
        "unit": "seconds"
      },
      "id": "291bc5ec-6259-4d83-b530-9dfc4ebc4264",
      "name": "Rate Limit Delay (3s)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -944,
        352
      ],
      "webhookId": "31555401-a68b-40b9-a990-86f862f778b2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer ************************"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a B2B lead qualifier for an automation agency. Score prospects 1-10 on how likely they NEED automation services. High score: business owners, founders, operations managers, CEOs, people running agencies. Low score: students, developers, job seekers, other automation agencies (they are competitors not clients). Return ONLY valid JSON: {\\\"score\\\": 7, \\\"reason\\\": \\\"brief reason\\\", \\\"should_contact\\\": true}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ 'Prospect: ' + $json.name + ', Headline: ' + $json.title + ', Location: ' + $json.location + '. Score this person as a potential automation services client.' }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 150\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1696,
        240
      ],
      "id": "80724947-9cd5-4360-bd09-ecd6dabd7348",
      "name": "AI Score Prospect"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ee04c3fd-b7eb-4c2d-9953-c57d27d094b4",
              "name": "Get Existing Sheet Data1",
              "value": "={{ $items(\"Get Existing Cursor\").slice(-1)[0].json.Cursor }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        128
      ],
      "id": "25a006bb-e3bb-4e02-b45f-bf7cb3451af7",
      "name": "Existing Cursor"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Prospects",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dT46s_WhaF0UqBO6eztD4zSjQ-xpV6kO3SnriB7ekA4/edit#gid=0"
        },
        "options": {}
      },
      "id": "6909d635-64d1-4de3-bdfb-68b542857534",
      "name": "Get Existing Cursor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        -2224,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Ev0YALBZXm6yptDq",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67fc3c50-7ed4-439b-ae07-79e26addc7aa",
              "name": "cursor",
              "value": "={{ $json.cursor }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2432,
        352
      ],
      "id": "75ff7933-2e3d-4d05-adbb-0f52961da762",
      "name": "Updating Cursor"
    },
    {
      "parameters": {
        "url": "=https://api10.unipile.com:14041/api/v1/users/invite/sent?account_id=************************",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "************************"
            },
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "82e570d8-3285-4a50-8b59-c5dcf611a3d6",
      "name": "Get Sent Invitations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2432,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Hours Trigger": {
      "main": [
        [
          {
            "node": "Get Sent Invitations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search LinkedIn Prospects": {
      "main": [
        [
          {
            "node": "Updating Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Sheet Data": {
      "main": [
        [
          {
            "node": "Filter New Prospects Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Score": {
      "main": [
        [
          {
            "node": "Quality Filter (Score >= 6)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quality Filter (Score >= 6)": {
      "main": [
        [
          {
            "node": "Send LinkedIn Connection Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rate Limit Delay (3s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send LinkedIn Connection Request": {
      "main": [
        [
          {
            "node": "Prepare Sheet Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Row": {
      "main": [
        [
          {
            "node": "Log Prospect to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Prospects Only": {
      "main": [
        [
          {
            "node": "AI Score Prospect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Score Prospect": {
      "main": [
        [
          {
            "node": "Parse AI Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Existing Cursor": {
      "main": [
        [
          {
            "node": "Search LinkedIn Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Cursor": {
      "main": [
        [
          {
            "node": "Existing Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updating Cursor": {
      "main": [
        [
          {
            "node": "Get Existing Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sent Invitations": {
      "main": [
        [
          {
            "node": "Get Existing Cursor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c72659fa-5752-41cf-b78b-2b273ecb88b5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e9710cffcf45d23a056e0c19d72a571c51ab41b1abfff85bb0a80211df0f8adc"
  },
  "nodeGroups": [],
  "id": "pG9q4OpKQvdnn712",
  "tags": []
}